<nav>
	<ul>
		{% for item in site.data.navigation %}
			<li><a href="{{ item.link }}" {% if page.url == item.link %} class="current" style="font-weight:bold" {% endif %}>
					{{ item.name }}
			</a></li>
		{% endfor %}
	</ul>
</nav>

<!-- Old navigation section
	<li><a href="/"{% if page.url == '/' %}style="color:red;"{%endif%}>About</a></li>
	<li><a href="/research.html">Research</a></li>
	<li><a href="/publications.html">Publications</a></li>
	<li><a href="/cv">CV</a></li>
-->
	<!--	<li><a href="/blog">Blog</a></li> -->
